<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{- with or .Description site.Params.description }}
  <meta name="description" content="{{ . }}">
{{- end }}
<link rel="canonical" href="{{ .Permalink }}">
<link rel="icon" href="{{ "favicon.ico" | relURL }}">
<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#0c0c0c" media="(prefers-color-scheme: dark)">
{{ partialCached "head/theme-init.html" . }}
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
